
data/parallel_python
data/parallel_python/*

data/*.sh

figs/*.png
figs/svg
figs/svg/*
*.sketch

figs/*.png
literature.md
.DS_Store

*.nc
*/__pycache__
__pycache__

docs/*
*.zip

*.png
*.svg
.DS_Store

*.png
*.pdf

poster/
